@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,200;1,800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

::-webkit-scrollbar {
    width: .4rem;
    height: .3rem;
    background-color: #aaaaaa;
    text-align: center;
}

::-webkit-scrollbar-thumb {
    background: #231f1e;
    border-radius: 10px;
}

.arrow {
    border: solid #fff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    cursor: pointer;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.nav-info {
    display: flex;
    justify-content: space-around;
    font-size: 0.8rem;
    font-family: 700;
    color: #fff;
    background-color: #023c29;
    padding: 0.55rem;
}


/* ************ */

nav {
    background: #fff;
    padding: 10px 40px 10px 0;
}

nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

nav ul div.items,
.personal {
    padding: 0 4.8rem;
    display: inline-flex;
}

nav ul div.items a {
    text-decoration: none;
    color: #000;
    font-size: 1.1rem;
    padding: 0 2rem;
}

nav ul div.personal a {
    text-decoration: none;
    font-size: 1.1rem;
    padding: 0 2rem 0 0;
}

nav ul div.items :hover,
nav ul div.personal :hover {
    color: #36584c;
}

nav ul .search-icon {
    height: 40px;
    width: 15;
    display: flex;
    background: #eceef0;
    border-radius: 20px;
}

nav ul .search-icon input {
    height: 100%;
    width: 18.5rem;
    border: none;
    outline: none;
    padding: 0 1rem;
    color: #000;
    font-size: 0.85rem;
    border-radius: 20px 0 0 20px;
    background-color: #eceef0;
}

nav ul .search-icon .icon {
    height: 100%;
    width: 2rem;
    line-height: 2.5rem;
    text-align: center;
    cursor: pointer;
    padding-right: 0.8rem;
}

nav ul .search-icon .icon span {
    color: #767474;
    font-size: 1rem;
}

nav ul li.btn {
    font-size: 1.9rem;
    flex: 1;
    display: none;
}

nav ul li.btn span {
    height: 42px;
    width: 42px;
    text-align: center;
    line-height: 42px;
    border: 1px solid #151515;
    border-radius: 5px;
    cursor: pointer;
}

nav ul li.btn span.show:before {
    content: '\f00d';
}


/* ************* */

.discount-img {
    display: block;
    text-align: center;
    padding: 1rem 3rem;
    margin: 0 1rem 2.5rem 1.5rem;
}

.discount-img img{
    width: 95%;
    border-radius: 15px;
}

form {
    margin: 0 1rem 3rem 4rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    padding: 0 5rem 0 3.3rem ;
}

form select {
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0 0.5rem;
    margin-right: 0.9rem;
    background-color: #e2e3e2;
    border-radius: 20px;
    border: none;
    border: 7px solid #e2e3e2;
}

.search-right {
    margin: 0  0  0 auto;
}

#Sort-by {
    background-color: #fff;
    border: 2px solid #000;
    padding: 0.4rem 0.6rem;
}


/* ************ */

.suggest-section h1 {
    margin-left: 6.8rem;
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 7rem;
    margin-bottom: 3rem;
}

.cards article {
    flex: 0 0 25%;
    line-height: 2.2;
    padding: 0.5rem 3rem 0.5rem 0;
}

.cards .fa-heart {
    position: relative;
    bottom: -5.5vh;
    left: 86%;
    background-color: #fff;
    padding: 0.75rem;
    border-radius: 50%;
    font-size: 1.2rem;
    cursor: pointer;
}

.cards img {
    width: 100%;
    border-radius: 3%;
    background-color: #f5f6f6;
    padding: 1rem;
    transition: all .6s ease-in-out;
    box-shadow: #e2e3e2 0px 0px 10px 0px;
}

.cards .image {
    transition: all .6s ease-in-out;
}

.cards article .name-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards article .name-price span {
    font-size: 0.9rem;
    font-weight: 500;
    position: relative;
    bottom: 0.5ex; 
}

.cards .fa-star{
    font-size: 0.85rem;
    color: #2d9e2f;
}

.cards button {
    margin-top: 0.7rem;
    border-radius: 20px;
    padding: 0.5rem 1.3rem;
    cursor: pointer;
    transition: all 500ms ease;
}

.fa-heart:hover {
    background-color: rgba(255, 0, 0, 0.105);
}

.cards .fa-heart:hover + img{
    background-color: #fff;
    box-shadow: none;
    transform: perspective(500px) rotateX(1deg) scale(1.10) translateY(-10px) translateZ(40px);
}

.cards img:hover {
    transform: perspective(500px) rotateX(10deg) scale(1.10) translateY(-10px) translateZ(20px);
    background-color: #fff;
    box-shadow: none;
}

.cards .image:hover > .fa-heart {
    left: 86%;
    z-index: 9;
}

.cards .add-cart :hover {
    background: #023c29;
    color: #e2e3e2;
}


/* ********** */

.categories h1 {
    margin: 4rem 0 2.3rem 18.5rem;
}

.categories-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.categories-cards article {
    padding-right: 1.5rem;
}

.categories-cards article img {
    border-radius: 10px;
    max-width: 100%;

}

.categories-cards article h3 {
    margin-top: 20px;
    margin-bottom: 10px;

}

.categories-cards article .categories-title {
    position: relative;
    bottom: 23.5vh;
    width: 100%;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    z-index: 1;
}

.categories-cards article img {
    transition: all .4s ease-in;
}

.categories-cards article:hover img,
.categories-cards article:focus .img {
    /* transform: scale(1.1) rotate(5deg) translateX(10px) translateY(-10px) translateZ(10px);
    box-shadow: #000 0px 0px 10px 0px; */

  transform: perspective(500px) rotateX(12deg) scale(1.05) translateY(-10px) translateZ(10px);
  box-shadow: #000 0px 3px 10px 0px; 
}


/* ********** */

.deals-section {
    margin-bottom: 2rem;
}

.deals-section h1 {
    margin: 0 0 2.3rem 18.5rem;
}

.container {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.today-deals {
    width: 69%;
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
    touch-action: pan-y;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.today-deals .card {
    margin: 0 1.8rem 2.7rem 0;
    line-height: 2.2;
    flex: 0 0 31.4%;
    scroll-snap-align: center;
}

.today-deals .card .image {
    position: relative;
    background-color: #f5f6f6;
    border-radius: 10px;
    width: 100%;
    padding: 0 3rem;
}

.today-deals .card .image img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    transition: all 200ms ease;
}

.today-deals .card .image .fa-heart {
    position: absolute;
    bottom: 22.5vh;
    right: 1rem;
    background-color: #fff;
    padding: 0.75rem;
    border-radius: 50%;
    font-size: 1.2rem;
    cursor: pointer;
}

.today-deals .card .name-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.today-deals .card .name-price span {
    font-size: 0.9rem;
    font-weight: 500;
    position: relative;
    bottom: 0.5ex; 
}

.today-deals.card .fa-star{
    font-size: 0.85rem;
    color: #2d9e2f;
}

.today-deals .description {
    font-size: 0.8rem;
}

.today-deals .card button {
    margin-top: 0.7rem;
    border-radius: 20px;
    padding: 0.5rem 1.3rem;
    cursor: pointer;
    transition: all 500ms ease;
}

.today-deals:active {
    cursor: grabbing;
}

.today-deals .card .image img:hover {
    transform: scale(1.2) rotate(2deg) translateY(-10px) translateZ(10px);
}

.today-deals .card .fa-heart:hover {
    background-color: rgba(255, 0, 0, 0.105);
}

.today-deals .card .add-cart :hover {
    background: #023c29;
    color: #e2e3e2;
}


/* *********** */

.brand-section {
    margin: 5rem 0 2.3rem 18.5rem;
}

.brand-section h1 {
    margin-bottom: 2.3rem;
}

.choose-by-brand {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    width: 84%;
}

.choose-by-brand .card {
    display: flex;
    flex: 0 0 23%;
    background-color: #f5f6f6;
    justify-content: flex-start;
    align-items: center;
    padding: 1.25rem 0;
    margin: 0 1.3rem 1.3rem 0;
    border-radius: 10px;
    border: 1px solid #fff;
    line-height: 2;
}

.choose-by-brand .card .image{
    padding-left: 1.25rem;
    margin-right: 1rem;
    transition: all 200ms ease;
}

.choose-by-brand .card .image img{
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.choose-by-brand .card h3{
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0;
}

.choose-by-brand .card p{
    font-size: 13px;
}

.choose-by-brand .card:hover{
    border: 1px solid #000;
}

.choose-by-brand .card .image:hover{
    transform: scale(1.15);
}


/* *********** */

.discount-section {
    margin: 5rem 0 2.3rem 18.5rem;
}

.discount-section h1 {
    margin-bottom: 2.3rem;
}

.get-discount {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}

.get-discount .card{
    flex: 0 0 0 auto;
    background-color: #f2e4d9;
    align-items: center;
    margin: 0 1.3rem 1.3rem 0;
    border-radius: 10px;
    justify-content: center;
    width: 18.71%;
}

.get-discount .card .content {
    width: 100%;
    padding: 1.9rem;
}

.get-discount .card .content h1 {
    color: #cb9917;
    font-size: 3rem;
    line-height: 40px;
    font-weight: 700;
    margin-bottom: 1.25rem;
}

.get-discount .card .content h1 span {
    position: relative;
    top: -16px;
    font-size: 1.95rem;
    line-height: 41px;
}

.get-discount .card .content h3 {
    margin-bottom: 0.62rem;
    font-size: 22px;
}

.get-discount .card .content .description{
    margin-bottom: 0px;
    color: #231f1e;
    font-size: 1rem;
    line-height: 160%;
    font-weight: 500;
}

.get-discount .card .image img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* CHange colors */
/* Add Annimation */
/* Add footer */


/* *********** */
@media screen and (max-width: 1745px) {
    nav {
        padding: 0 2rem;
    }

    nav ul li.logo {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 1645px) {
    nav {
        padding: 0 1rem;
    }

    nav ul div.items a {
        font-size: 1rem;
        padding: 0 2rem;
    }

    nav ul div.personal a {
        font-size: 1rem;
        padding: 0 2rem;
    }

    nav ul .search-icon input {
        width: 15rem;
    }
}


@media screen and (max-width: 800px) {
    nav {
        z-index: 1;
        padding: 9px 40px 9px 0;
    }

    nav ul div.items {
        z-index: -1;
        position: fixed;
        top: -220px;
        right: 0;
        width: 100%;
        background: #fff;
        display: inline-block;
        transition: top .4s;
    }

    nav ul div.items.show {
        top: 70px;
    }

    nav ul div.items li {
        text-align: center;
        line-height: 30px;
        margin: 30px 0;
    }

    nav ul div.items li a {
        font-size: 19px;
    }

    nav ul li.btn {
        display: block;
        font-size: 1.3rem;
        padding: 0.5rem;
    }
    
    nav ul li.btn span {
        height: 35px;
        width: 35px;;
        line-height: 35px;
        border: 1px solid #151515;
        border-radius: 5px;
        cursor: pointer;
    }

    nav ul .search-icon {
        height: 27px;
    }
    
    nav ul .search-icon input {
        height: 100%;
        color: #000;
        font-size: 0.65rem;
    }
    
    nav ul .search-icon .icon {
        width: 0.5rem;
        line-height: 1.5rem;
        padding-right: 0;
    }
    
    nav ul .search-icon .icon span {
        display: none;
    }

    nav ul li.logo {
        flex: 1;
        text-align: end;
    }
}
